<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maghin</title>
    @entryPointScripts('app')
    @entryPointStyles('app')
</head>
<body class="bg-background">
    <main class="container mx-auto">
        @!component('components/flash')
        @!section('body')
    </main>
</body>
</html>