<form action="" method="post" enctype="multipart/form-data">
    <div>
        @!component('components/input', {
            label: 'Nom de la catégorie',
            name: 'name',
            value: categorie.name
        })
    </div>
    <button>Sauvegarder</button>
</form>