@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web&display=swap');

* {
    font-family: 'Titillium Web', sans-serif;  
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}